<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="photo.jpg" style='height: 60%; width: 60%; object-fit: contain'>
      <br>
      <h1>
        <!--<a href="{{ site.baseurl }}">-->
          {{ site.title }}
        <!--</a>-->
      </h1>
      <p>Ph.D. Candidate<br>
      Computer Science<br>
      UC San Diego</p>
      <p>jiawei <i class="fa fa-at"></i> ucsd.edu<br>


    </div>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}



    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
